body {
	font-family: 'Quicksand', sans-serif;
	background: -webkit-linear-gradient(top, #96ceb4 0%,#ffffff 100%);
	background-repeat: no-repeat;

}
h1 {
	font-weight: bold;
}
p {
	font-color: #090909;
}

.header {
	//background-color: #129793;
	background-color: #ffffff;
	color: white;
	height: 30%;
	padding: 15px;
	text-align: left;
}
.footer {
	background-color: #318011;
	color: white;
	text-align: center;
	height: 20%
}
.content {
	padding: 15px;
	background-color: #ffcc5c;
	color: black;
	margin-left: 0px;
	margin-right: 0px;

	&:hover {
		background-color: #ffe09d;
	}
}
.content-top {
	background-color: #ffeead;
}
.menu-box {
	background-color: #318011;
}
li{
	font-size: 15px;
	color: #94e573;
	list-style: none;
	display: inline-block;
	vertical-align:top;
	text-align: left;
    width: 20%;
}
.pic-text {
	color: white;
	position: absolute;
	top: 70%;
	left: 7%;;
	font-size: 35px;
	font-weight: bold;
	font-family: "Arial";
}
.pic-sub-text{
	color: white;
	font-size: 15px;
	font-weight: normal;
}
@media (min-width: 1200px) {
  .container {
    width: 900px;
  }
}
a {
	&:link {
		text-decoration: none;
		color: #94e573;
	}
	&:hover{
		color: white;
    	box-sizing: border-box;
	}
	&:visited {
		color: #94e573;
	}
}
.left-button{
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 5%;
	text-align: right;
	padding-top: 20%;
	cursor: pointer;
}
.right-button{
	position: absolute;
	top: 0%;
	left: 95%;
	width: 5%;
	height: 100%;
	padding-top: 20%;
	cursor: pointer;
}